parameters:
    level: 9
    stubFiles:
        - stubs/Config.stub
    paths:
        - %currentWorkingDirectory%/src/
    excludePaths:
        - %currentWorkingDirectory%/tests/
    ignoreErrors:
        - '#Trait TeamSquad\\EventBus\\Interfaces\\Consumer\\GoAssistedConsumer is used zero times and is not analysed#'
