parameters:
    level: 9
    treatPhpDocTypesAsCertain: false
    stubFiles:
        - stubs/Config.stub
    paths:
        - %currentWorkingDirectory%/src/
        - %currentWorkingDirectory%/tests/SampleConsumer.php
    ignoreErrors: []
